<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link href="css/theme_white.css" rel="stylesheet">
	<link href="css/jquery-ui.min.css" rel="stylesheet">
	<link href="css/jquery-ui.structure.min.css" rel="stylesheet">
	<link href="css/jquery-ui.theme.min.css" rel="stylesheet">
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
	<script>

		/**
		 * Emulate chat backend for simple theme development
		 * Just run this html file in browser and this code will
		 * automatically send test messages and online statistic
		 * for supported chats
		 */
		function emulateChatBackend() {
			if (window.bridge === undefined) {
				window.bridge = {
					log: function(str) {
						console.log(str);
					},
					init: function(obj) {
						this.chatObj = obj;
						obj.init();
					},
					connect: function() {
						var _this = this;
						_this.i = 0;
						setInterval(function() {
							_this.i++;
							switch (_this.i) {
								case 1:
									_this.chatObj.emit("cybergame", "message", '{"when":' + new Date().getTime() + ',"from":"lampochka1488","text":"Всем привет, это я, проверяю тут, как работают многострочные сообщения, например"}');
									_this.chatObj.emit("cybergame", "online", '{"channel name":"apxeolog","channel_game":"\u0434\u0440\u0443\u0433\u043e\u0435","online":"0","viewers":"0","thumbnail":"http:\/\/fileapi.cybergame.tv\/thumbnails\/channels\/","rtmp":"rtmp:\/\/stream1.cybergame.tv:1936\/live1\/_definst_\/apxeolog","m3u8":"http:\/\/stream1.cybergame.tv:8080\/live1\/apxeolog.m3u8"}');
									break;
								case 2:
									_this.chatObj.emit("twitch", "message", '{ "hostname": "apxeolog.tmi.twitch.tv", "sender": "apxeolog", "channel": "#apxeolog", "login": "apxeolog", "message": "Куда донатить ?" }');
									// Twitch only sends viewers when stream is online, otherwise stream = null (no viewers)
									_this.chatObj.emit("twitch", "online", '{"_links":{"self":"https://api.twitch.tv/kraken/streams/apxeolog","channel":"https://api.twitch.tv/kraken/channels/apxeolog"},"stream":null}');
									break;
								case 3:
									_this.chatObj.emit("goodgame", "message", '{ "channel_id": 40086.0, "user_id": 135026.0, "user_name": "SpaceGoose", "user_rights": 20.0, "premium": 0.0, "premiums": [], "hideIcon": 0.0, "color": "", "icon": "", "isStatus": 0.0, "mobile": 0.0, "payments": "0", "paidsmiles": [], "message_id": 6.0, "timestamp": ' + new Date().getTime() / 1000 + ', "text": "Хватит мне звонить уже, ни одно дело доделать не могу нормально " }');
									_this.chatObj.emit("goodgame", "online", '{ "channel_id": 40086.0, "clients_in_channel": "1", "users_in_channel": 0.0 }');
									break;
								case 4:
									_this.chatObj.emit("hitbox", "message", '{ "image": "/static/img/channel/masta_52274f9e8159b_small.jpg", "role": "admin", "isSubscriber": false, "isStaff": false, "nameColor": "D0782C", "channel": "apxeolog", "media": false, "isOwner": true, "name": "Kramola", "text": "Это все заговор жидомассонских рептилоидов с марса !", "time": ' + new Date().getTime() / 1000 + ', "isFollower": false, "isCommunity": false }');
									// Received only when viewer count changes
									_this.chatObj.emit("hitbox", "online", '{ "channel":"apxeolog", "viewers":1, "subscribers":0, "followers":1, "registered":1, "embed":0, "online":false }');
									break;
								default:
									_this.i = 0;
							}
						}, 1000);
					}
				}
			}
		}

		function log() {
			var string = "";
			for (var i = 0; i < arguments.length; i++) {
				if (arguments[i] === undefined) string += " undefined";
				else if (typeof arguments[i] == 'object') string += " " + JSON.stringify(arguments[i]);
				else string += " " + arguments[i].toString();
			}
			bridge.log(string);
		}

		function StreamChat() {
			this.chats = {
				cybergame: {
					message: function(data) {
						appendMessage("cybergame", data.when, data.from, data.text);
						return true;
					},
					online: function(data) {
						// data.online
						return true;
					}
				},
				twitch: {
					message: function(data) {
						appendMessage("twitch", 0, data.sender, data.message);
						return true;
					},
					online: function(data) {
						if (data.stream != null) {
							// data.stream.
						} else {
							// 0
						}
						return true;
					}
				},
				goodgame: {
					message: function(data) {
  						appendMessage("goodgame", data.timestamp, data.user_name, data.text);
  						return true;
					},
					online: function(data) {
						// data.clients_in_channel
						return true;
					}
				},
				hitbox: {
					message: function(data) {
  						appendMessage("hitbox", data.time, data.name, data.text);
  						return true;
					},
					online: function(data) {
						
					}
				}
			};

			this.init = function(data) {
				for (var i = 0; i < arguments.length; i++) {
					if (this.chats[arguments[i]] === undefined) this.chats[arguments[i]] = {};
					this.chats[arguments[i]].enabled = true;
				}
				bridge.connect();
			}

			this.emit = function(chat, type, args) {
				if (this.chats[chat] && this.chats[chat][type]) {
					var result = this.chats[chat][type](JSON.parse(args));
					if (result !== true) log(chat, type, args); // Unhandled
				} else log(chat, type, args); // Unhandled
			}
		}



		$(document).ready(function() {
			emulateChatBackend();
			var streamChat = new StreamChat();
			bridge.init(streamChat);
			$(function() {
				$("#resizable").resizable();
			});
			$(window).resize(function() {
				//alert('resized!');
			});
		});

		function appendMessage(chat, timestamp, author, text) {
			var date = new Date(timestamp*1000);
			var hours = "0" + date.getHours();
			var minutes = "0" + date.getMinutes();
			$('.chat').append('<div class="post icon_' + chat + '"><span class="timestamp">' + hours.substr(-2) + ':' + minutes.substr(-2) + '</span> <span class="author">' + author + ':</span> ' + text + '</div>');
		}
	</script>
</head>
<body>
<div class="chat"></div>
</body>
</html>